<!DOCTYPE html>
<html>
<head>
  <title>Pagamento</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>


<% if current_usuario %>
<br><hr>
<%= link_to 'Sair', destroy_usuario_session_path, method: :delete %>
<% end %>

</body>
</html>
