<h1>Listing conformidades</h1>

<table>
  <tr>
    <th>Caixa</th>
    <th>Processo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conformidades.each do |conformidade| %>
  <tr>
    <td><%= conformidade.caixa %></td>
    <td><%= conformidade.processo %></td>
    <td><%= link_to 'Show', conformidade %></td>
    <td><%= link_to 'Edit', edit_conformidade_path(conformidade) %></td>
    <td><%= link_to 'Destroy', conformidade, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conformidade', new_conformidade_path %>
