<center>
<h1>Lista dos Fornecedores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>PJ | PF</th>
    <th>CNPJ/CPF</th>
    <% if can? :ver_coluna_publicada, @fornecedores %>
      <th>Publicado</th>
    <% end %>  
    <th></th>
    <th></th>
  </tr>

<% @fornecedores.each do |fornecedor| %>
  <tr>
    <td><%= fornecedor.nome %></td>
    <td><%= fornecedor.pj? ? 'PJ' : 'PF'%></td>
    <% if fornecedor.pj? %>
      <td><%= fornecedor.cnpj %></td>
    <% else %>
      <td><%= fornecedor.cpf %></td>
    <% end %>
    <% if can? :ver_coluna_publicada, @fornecedores %>
      <td><%= fornecedor.publicado? ? 'Sim' : 'Não' %></td>
    <% end %>  
    <!--<td><%= link_to 'Show', fornecedor %></td>-->
    <% if usuario_signed_in?  %>
    <td><%= link_to image_tag("edit.jpg", :border=>0), edit_fornecedor_path(fornecedor) %></td>
    <td><%= link_to image_tag("delete.jpg", :border=>0), fornecedor, confirm: 'Tem certeza?', method: :delete %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br/>
<%= paginate @fornecedores %>
<br/>

<% if usuario_signed_in? %>
<%= link_to 'Novo Fornecedor', new_fornecedor_path %>
<% end %>
</center>